@{
    ViewData["Title"] = "Home";
}

<div style="width: 100%; text-align: center;">
    <h1><strong>TechBooks Management System</strong></h1>
    <img style="max-width: 512px;" src="/images/logo.svg" />
</div>

